.coin-page{
    width:100%;
    height:100%;
    min-height: 1000px;
    padding: 0;
    margin: 0;
    background-color: chocolate;
    display: flex;
    flex-direction: row;
}

.coin-info-left {
    width:35%;
    border-right:1px solid black;
    background-color: red;
}


.coin-title-container {
    height:fit-content;
}

.coin-price-container {
    display: flex;
    text-align: center;
    height:fit-content;
}

.favourites-button {
    border: 2px solid black;
    padding: 10px 0px;
}

.green{
    color: green;
  }
  
.red {
color: red;
}

.black{
color: black;
}

.price {
    padding: 0;
    font-size: 16pt;
    font-weight: 100;
    line-height: 1;
    margin:0;
    margin-right: 20px;
}

.price > h1 {
    margin: 0;
    height:fit-content;
    width: fit-content;
}

.price-change{
    font-size:10pt;
    padding: 0;
    font-size: 18pt;
    font-weight: 100;
    line-height: 1;
    margin:0;
}

h3 {
    line-height: 1;
    font-size: 15pt;
    font-weight: 500;
}

table{
    width: 100%;
}

.coin-data-row {
    height:50px;
    width: 100%;
    background-color: aliceblue;
    border-bottom: solid gray 1px;
}

.coin-data-row-title {
    float:left;
    height: 100%;
    display: flex;
    display:flex;
    align-items: center;
    justify-content: center;
}

.coin-data-row-title > h3{
    height:fit-content;
    line-height: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left:10px;
    font-weight: 400;
    color:gray;
}

.coin-data-row-value {
    float:right;
    height: 100%;
    display: flex;
    display:flex;
    align-items: center;
    justify-content: center;

}

.coin-data-row-value > h3{
    height:fit-content;
    line-height: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-right:10px;
    font-weight: 500;
    font-size: 14pt;
    color:black;

}

.coin-converter{
    background-color: green;
    height:fit-content;
    padding: 10px 0px;
    line-height: 1;
}

.coin-converter > h2{
    margin: 10px 0px;
    padding: 0;

}

.coin-graph-container{
    height:500px;
    width:100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.coin-info-right {
    width:65%;
    background-color: blue;
}


.coin-info-right > * {
    width: calc(100% - 10px);
    margin: 10px 5px;
    padding-left: 0;
    padding-right: 0;
}

.coin-change {
    background-color: cadetblue;
    margin: 15px auto;
    
}


.coin-change > table {
    width:100%;
}

.equalise {

}

.equalise > * {
    width:20%;
    margin:0;
    padding: 10px 0;
}

.equalise > th {
    background-color: aquamarine;
    border-right: black 1px dotted;
}

.equalise > td {
    text-align: center;
    border-right: rgb(68, 68, 68) 1px dotted;
}


a:active {
    color: rgb(255,149,128);
}

a:hover {
    color: rgb(255,149,128);
}
    
a {
text-decoration: none;
color: black;
transition: color 0.2s;
}

.section1L{
    height: 530px;
    border-bottom: solid black 1px;
    margin-bottom: 5px;
}

.section1L > * {
    width: calc(100% - 10px);
    margin: 10px 5px;
    padding-left: 0;
    padding-right: 0;
}

.section1R{
    height: 530px;
    border-bottom: solid black 1px;
    margin-bottom: 5px;
}

.section1R > * {
    width: calc(100% - 10px);
    margin: 10px 5px;
    padding-left: 0;
    padding-right: 0;
}


.section2R{
    height: 530px;
    border-bottom: solid black 1px;
    margin-bottom: 5px;
}

.section2R > * {
    width: calc(100% - 10px);
    margin: 10px 5px;
    padding-left: 0;
    padding-right: 0;
}


