.main-page{
    width:100%;
    height:fit-content;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list-item-container{
    width:98%;
    height: fit-content;
    margin-bottom: 20px;
    
}

.listul {
    width:100%;
    padding:0%;
    margin: 0%;
    list-style-type: none;
}

.center-nav {
    display: flex;
    justify-content: center;
    background-color: aqua;
    width: 98%;
    height: 30px;
}

.th1 { 
    background-color: aqua;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    width: 2%;
    text-align: right;    
    padding-right: 10px;
}

.th2 {
    background-color: aqua;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    width: 15%;
    text-align: left;
    padding-left: 45px;
    text-align: right;
    padding-right: 10px;
    
}

.th3, .th4, .th5, .th6 {
    background-color: aqua;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    width:7%;
    padding: 0px;
    text-align: right;
    padding-right: 10px;
}

.th7, .th8 {
    background-color: aqua;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    width: 10%;
    text-align: right;
    padding-right: 10px;
}

.crypto-list-item {
    background-color: aliceblue;
    text-align: right;
}

table, th, td {
    border-collapse: collapse;
}

td {
    border:1px solid rgb(210, 210, 210);
    border-left: none;
    border-right: none;
    padding: 0px 10px;
    margin-right: 10px;
}

.clickable-container {
    display:flex;
    text-decoration: none;
    height:100%;
    padding: 25px 0;
}

.name {
    font-size: 12pt;
    font-weight: 600;
    margin-right: auto;
    text-align: left;
    text-decoration: none; color: black;
}

.symbol {
    font-size: 10pt;
    font-weight: 200;
    text-decoration: none; color: black;

}

.text-dec {
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}