.logo1 {
  background-color: white;
  width: 78px;
  height: 70px;
  margin: 5px;
  padding: 5px;
}

.logo2 {
  background-color: white;
  width: 78px;
  height: 70px;
  margin: 5px;
  padding: 5px;
}

.logo3 {
  background-color: white;
  width: 253px;
  height: 70px;
  padding: 5px;
}
