.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-bar {
  display: flex;
  align-items: center;
  justify-content: left;
}

.left {
  justify-content:flex-start;
}

.center {
  justify-content:center;
}

.right {
  justify-content:flex-end;
}


.bar-list {
  display: flex;
  padding: 0px 30px;
  list-style: none;
}

.bar-list li {
  padding: 0px;
  margin: 0px;
  margin-right: 20px;
}

.bar-list li:last-child {
  margin-right: 0;
}

.header {
  height: auto;
  width: 100%;
  background-color: brown;
  overflow: hidden;
}

.ceiling {
  height: 32px;
  width: 1270px;
  padding: 10px 15px;
  background-color: blue;
  overflow: hidden;
}

.header-bar {
  width: 100%;
  height: 40px;
  padding: 12px 0px;
  margin: 0px;
  background-color: red;
  overflow: hidden;
}

.crypto-news-bar {
  background-color: chocolate;
  flex-grow: 1;
  padding: 0px;
  height: 32px;
}

.crypto-news-component {
  font-weight: 700;
  line-height: 1rem;
  font-size: 0.8rem;
  padding: 1px 2px;
  margin: 0px 10px;
}

.account-interface-bar {
  background-color: blueviolet;
  margin-right: 0;
  width: auto;
  height: 32px;
}

.green{
  color: green;
}

.red {
  color: red;
}

.black{
  color: black;
}