.main-crypto-footer{
    width: 100%;
    height: fit-content;
    padding:10px 0px;
    background-color: aqua;
}

.main-crypto-footer-cards{
    margin-right:3.3333%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-crypto-footer-cards:last-child{
    margin-right:0;
}

.title{
    padding: 0px;
    margin: 0px;
}
