.background-app {
  width: 100%;
  height: auto;
  min-height: 100vh;
}
.foreground-app {
  margin: auto;
  width: 1300px;
  height: auto;
  min-height: 100vh;
}

.separator-section {
  width: 100%;
  height: 123px;
  background-color: aqua;
}

