.main-page{
    width:100%;
    height:fit-content;
    padding: 10px 0px;
    margin: 0;
    background-color: chocolate;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list-item-container{
    margin: 5px 0px;
    height: fit-content;
    width:98%;
}