.main-page{
    width:100%;
    height:fit-content;
    padding: 10px 0px;
    margin: 0;
    background-color: chocolate;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list-item-container{
    margin: 0;
    padding: 0;
    height: fit-content;
    width:98%;
    margin-bottom: 20px;
}

.center-nav {
    display: flex;
    justify-content: center;
    background-color: aqua;
    width: 98%;
    height: 30px;
}
