.crypto-list-item-main{
    width:100%;
    padding: 10px 0%;
    margin:5px 0px;
    height:40px;
    background-color: burlywood;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

a {
    height: 100%;
}


.index {
    width: 4%;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    align-content: left;
    padding-left: 25px;
}

.clickable-container{
    height:100%;
    width: fit-content;
    display: flex;
}

.name {
    width: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    padding: 0px 5px;
    color: black;
}

.name-link {
    text-decoration: none;
}

.symbol {
    width: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 700;
    font-size: 0.8rem;
    padding-left: 3px;
    color: grey;
    padding: 0 5px;
}

.price {
    width: 8%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    padding-left: 3px;
}

.oneHour {
    width: 7%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    padding-left: 3px;
}

.twentyfourHour {
    width: 7%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    padding-left: 3px;
}

.sevenDay {
    width: 7%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    padding-left: 3px;
}

.twentyfourVol {
    width: 15%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    padding-left: 3px;
}

.marketCap {
    width: 15%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    padding-left: 60px;
}